# Firebase Configuration
NEXT_PUBLIC_APIKEY=your_api_key_here
NEXT_PUBLIC_AUTHDOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_PROJECTID=dev-gia-pha-ho-le-3e8eb
NEXT_PUBLIC_STORAGEBUCKET=dev-gia-pha-ho-le-3e8eb.firebasestorage.app
NEXT_PUBLIC_MESSAGINGSENDERID=your_messaging_sender_id
NEXT_PUBLIC_APPID=your_app_id
NEXT_PUBLIC_MEASUREMENTID=your_measurement_id
